html,body {
  font-family: 'Open Sans', serif;
  font-size: 30px;
  font-weight: 300;
}
.hero.is-success {
  background-image: linear-gradient(45deg, rgb(23, 66, 66), rgb(118, 35, 134));
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}